<h1> New series </h1>

<%# without "url: series_path" it uses 'series/index/' as the route instead of '/series' - using resources:series in routes.db seems to fix the issue too %>

<%= form_with model: @series, url: series_path, method: :post do |form| %>

    <div>
        <%= form.label :name, "Name" %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :synopsis, "Synopsis" %>
        <%= form.text_area :synopsis %>
    </div>

    <div>
        <%= form.label :director, "Director" %>
        <%= form.text_field :director %>
    </div>

    <div>
        <%= form.submit %>
    </div>

<% end %>
