<h1> New series </h1>

<%= form_with model: @series, method: :post do |form| %>

    <div>
        <%= form.label :name, "Name" %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :synopsis, "Synopsis" %>
        <%= form.text_area :synopsis %>
    </div>

    <div>
        <%= form.label :director, "Director" %>
        <%= form.text_field :director %>
    </div>

    <div>
        <%= form.submit %>
    </div>

<% end %>
